<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar align="center">Login Page</mat-toolbar>
        <form fxlayoutAlgn="'stretch" fxLayout="column" class="login-form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" name="email" class="form-control" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" name="password" class="form-control" type="password"
                    [(ngModel)]="password">
            </mat-form-field>
            <button mat-raised-button type="submit" color="warning" class="btn btn-success"
                (click)="login()">Login</button>
        </form>
        <a href="/register" style="text-decoration: none;">Need Account?<span class="text-danger">Register</span></a>
    </mat-card>
</div>